.gridCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.img {
    width: 80px;
    height: 100px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.navLink {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 500;

}

.navLink:hover {
    color: white;
    background-color: gray;
    padding: 3px 10px;
    border-radius: 10px;

}

.form-width{
    max-width: 400px;
}
.course-details{
    max-width: 600px;
}


@media only screen and (max-width: 600px) {
    .gridCard {
        display: grid;
        grid-template-columns: 1fr;
    }
}